#fifth{
    position: relative;
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -300px;
        left: 10px;
        z-index: -1;
        .gridcontainer{
            width: 1064px;
            display: grid;
            place-content: center;
            grid-template-areas: 
            "a ."
            "a b"
            "a b"
            "c b"
            "c b"
            "c d"
            "c d"
            "e d"
            "e d"
            "e f"
            "e f"
            "g f"
            "g f"
            "g h"
            "g h"
            ". h";
            gap: 40px;
        }
            .griditem{
                width: 508px;
                height: 256px;
                border-radius: 12px;
                padding: 24px 24px;
                display: flex;
                align-items: start;
                flex-direction: column;
                row-gap: 24px;
                background-color: #F8F8F8;
                
                p{
                    font-family: Inter-Regular;
                    font-size: 20px;
                }
                .common{
                    .fortext{
                        h6{
                            font-family: Inter-Semibold;
                            font-size: 20px;
                            color: black;
                        }
                        p{
                            font-family: Inter-Regular;
                            color: #6D7079;
                        }
                    }
                }
                .sabrina{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
                .lil-nas{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
                .clara{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
                .alan{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
                .johndoe{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    grid-area: e;
                }
                .name{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
                &:first-child{
                    grid-area: a;
                }
                &:nth-child(2){
                    grid-area: b;
                }
                &:nth-child(3){
                    grid-area: c;
                    background: linear-gradient(279.69deg, #00796D 0%, #38C682 100%);
                    p{
                        color: #f3f3f3;
                    }
                    .fortext{
                        h6{
                            color: #ffffff;
                        }
                        p{
                            color: #f3f3f3;
                        }
                    }
                }
                &:nth-child(4){
                    grid-area: d;
                }
                &:nth-child(5){
                    grid-area: e;
                }
                &:nth-child(6){
                    grid-area: f;
                }
                &:nth-child(7){
                    grid-area: g;
                }
                &:nth-child(8){
                    grid-area: h;
                }
            }
        }
    }
