#third {
  background: linear-gradient(
    279.69deg,
    rgba(0, 121, 109, 0.1) 0%,
    rgba(56, 198, 130, 0.1) 100%
  );
  width: 100%;
  height: 561px;
  overflow: hidden;
  .wrapper{
    position: relative;
    .Circle{
        width: 144px;
        height: 144px;
        position: absolute;
        top: 60px;
        left: -40px;
    }
    .Ornament{
        height: 474px;
        position: absolute;
        top: 90px;
        left: 449px;
    }
  }
}

// #third::before{
//     background-image: url(../../assets/icons/Circle.svg);
//     width: 144px;
//     height: 144px;
// }
.text {
  width: 1280px;
  height: 156px;
  p {
    font-family: Inter-Medium;
    font-size: 44px;
    color: black;
  }
}
.trio1 {
  width: 1280px;
  height: 181px;
  background: linear-gradient(279.69deg, #00796d 0%, #38c682 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 32px;
  margin: 64px 0 80px;
  .card1 {
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 12px;
    .item {
      width: 304px;
      height: 117px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h3 {
        font-family: Inter-Bold;
        font-size: 72px;
        color: white;
      }
      p {
        font-family: Inter-Medidum;
        font-size: 24px;
        color: white;
      }
    }
  }
}
